@import './css/popup.css';  /* 팝업 */
@import './css/contents.css';  /* 화면 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{color: #080808;}

body {
  /* font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333; */

    display: block;
    place-items: normal;
}

.layout{
    padding-top: 80px;
}

/* 헤더 */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #dde0ea;
}

.body-content{
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    /* transform: translateX(0%);
    transition: all 1s; */

    .showSide{display: none;}

    .menu {
        list-style-type: none;
        padding: 0;

        .menu-item {
            margin: 10px 0;

            /* 메뉴 제목 스타일 */
            .menu-title {
                font-size: 15px;
                cursor: pointer;
                padding: 10px;
                /* background-color: #ffffff; */
                border-radius: 5px;
                display: block;
                transition: background-color 0.3s;
            }

            .menu-title:hover {
                background-color: #7675b9;
            }

            /* 서브메뉴 기본 숨김 */
            .submenu {
                list-style-type: none;
                padding-left: 20px;
                display: none;
                margin-top: 5px;
                
                li {
                    /* background-color: #ffffff; */
                    padding: 8px;
                    border-radius: 5px;
                    margin-bottom: 5px;
                }
                
            }

            /* 서브메뉴 펼쳐지는 애니메이션 */
            .show {
                display: block;
                animation: slideIn 0.3s ease-out;
            }
        }
    }


    /* 애니메이션: 서브메뉴가 아래로 슬라이딩 */
    @keyframes slideIn {
        from {
            max-height: 0;
            opacity: 0;
        }
        to {
            max-height: 1000px;
            opacity: 1;
        }
    }
}

.sideOpen {
    width: 0px;
    /* transition: all 1s;
    transform: translateX(0%); */
}


/* 본문 */
.main {
    min-height: calc(100vh - 180px);
    width: 100%;

    .mainInner{
        width: 98%;
        left: 1%;
        position: relative;
    }
}

/* 푸터 */
.footer {
    height: 100px;
    margin-top: auto;
    background-color: #dde0ea;
}

